<div class="content">
  <div class="title">
  <h1>Welcome to {{carData.car_name}}'s car page!</h1>
 </div>
 <div class="img">
<img src="/images/{{carData.car_img}}" alt="car image" id="carsf">
</div>
 <h3>Message {{carData.car_name}}</h3>
 <div class="mes">
 <p>{{carData.car_price}}</p>
 <p>{{carData.car_style}}</p>
 <p>{{carData.car_desc}}</p>
 </div>
</div>
